<h1 class="text-center ips-logo-sm">
    <a href="">
            IPS en Línea
        </a>
</h1>
<h2 class="text-center bajada-logo" style="font-size: 22.2918px;">IPS en Línea </h2>
<div clas="row margin-top-sm-7">
    <div clas=" row ">
        <div class="col-xs-10 col-sm-6 col-md-4 offset-md-4 offset-sm-3 offset-xs-1 relative ">
            <h2 class="text-center titulo-light font-size-big " style="font-size: 28px; ">
                <span>Programa de Ahorro Colectivo Solidario</span>
            </h2>
        </div>
    </div>
    <div class="row ">
        <!--div class="d-flex justify-content-center "-->
        <div class="col-xs-10 col-sm-6 col-md-4 offset-md-4 offset-sm-3 offset-xs-1 relative margin-top-30 modulo-consulta ">
            <!--div class="col-md-12 "-->
            <div id="err-message " class="alert alert-danger alert-dismissible fade in " role="alert " style="display:none; ">
                <button type="button " class="close " data-dismiss="alert " aria-label="Close "><span aria-hidden="true " style="font-size: 18.7359px; ">a</span></button>
            </div>
            <h3 class="margin-top-0 text-center titulo-registro text-danger ">*Ingresar RUN y SERIE</h3>
            <div class="form-group ">
                <label>RUN</label>
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <input (keyup)=validaRun($event) placeholder="Ej. 11.222.333-K " type="text " class="form-control val-rut no-memory " maxlength="12 ">
                        <p class="mensaje-error val-rut ">{{mensajeRun}}</p>
                    </div>
                </div>
                <div class="lightbox" [ngClass]="{ 'lightbox': disableMensaje, 'lightbox-disable': !disableMensaje} "><a href="javascript:; " class="cerrar " title="cerrar lightbox "><i class="fa fa-times-circle "></i></a>
                    <div>
                        <section class="modal-error ">
                            <h1 class="titulo-modal ">Se encontraron los siguientes errores:</h1>
                            <ul>
                                <li>
                                    <!--Estimado(a), El RUN o n&uacute;mero de serie ingresado no corresponde, favor verificar informaci&oacute;n y reintentar.-->
                                    Segun nuestros registros, el run ingresado corresponde a un fallecido
                                </li>
                            </ul>
                        </section><br><button type="button " class="btn btn-primary " style="margin: 0.5em auto; display: block; " (click)="desactivaModal() ">Aceptar</button></div>
                </div>
                <div class="carnet ">
                    <label>SERIE&nbsp;</label><img src="../../assets/img/icon_info.png " alt="Información " width="20 " height="20 ">
                    <div class="carnet_image ">
                        <img src="../../assets/img/carnet.png " width="300 " height="178 " alt="Carnet ">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                        <input (keyup)=validaSerie($event) placeholder="Ej. A039023994 " type="text " class="form-control val-rut no-memory " maxlength="12 ">
                        <p class="mensaje-error val-rut ">{{mensajeSerie}}</p>
                    </div>
                </div>
                <br>
                <div class="text-center ">
                    <button class="btn btn-accion btn-ingresar " (click)="validarDatosAcceso() ">
                            <a>Ingresar</a>
                            </button>
                </div>
            </div>
        </div>
        <!--/div-->
        <!--/div-->
    </div>
</div>